/***************/
/*  Typography */
/***************/
h1,h2,h3,h4,h5,h6 {
  color: #3b4151;
}
/******************/
/* Helper Classes */
/******************/
.text-center { text-align: center; }
.spacer { padding: 10px; }
img.round { border-radius: 50%; }

/**************/
/* Main boxes */
/**************/
.box {
  position: relative;
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0,0,0,.25), 0 0 50px rgba(0,0,0,.1) inset;
}
.box:after {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  border-radius: 5%;
  z-index: -1;
  bottom: 0;
  content: "";
  /*box-shadow: 0 8px 30px rgba(0,0,0,.3)*/
}
.whitebox {
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 1px 5px rgba(0,0,0,.25), 0 0 50px rgba(0,0,0,.1) inset;
}

/********/
/* Flex */
/********/
.flex-row {
  display: flex;
  justify-content: space-between;
}

/************************/
/* First Statistics Row */
/************************/
.first-stats-row > div {
  display: flex;
  width: 23%;
}
.user-info .avatar {
  text-align: center;
  margin-right: 20px;
}
.user-info .avatar img {
  width: 100%;
  max-width: 100px;
}
.user-info .user-id {
  margin-top: 5px;
  display: block;
}
.user-info .role {
  color: #3b4151;
  font-size: 20px;
  text-transform: capitalize;
}
.user-info .name {
  margin: 15px 0 10px;
  color: #333e48;
  font-size: 1.3rem;
  line-height: normal;
  font-weight: 500;
  display: block;
}
.codeable-logo {
  max-width: 120px;
}
.codeable-logo img {
  width: 100%;
}
.rating {
  font-size: 8px;
  color: #FFD700;
}
.avatar_column div { text-align: center; }
.maindata > div, .maindata label.label {
  margin-bottom: 15px;
  display: block;
}
.maindata input {
  width: 75%;
  margin-right: 5px;
}
.maindata .label {
  color: #3b4151;
  font-size: 20px;
}
.maindata .value {
  color: #66708c;
  font-size: 32px;
}

/********************/
/* Second Stats Row */
/********************/
.second-stats-row {
  display: flex;
  justify-content: space-between;
}
.second-stats-row > div {
  width: 48.7%;
}

/****************/
/* Date filters */
/****************/
.ui-datepicker-calendar {
  display: none;
}
#ui-datepicker-div {
  width: 168px;
  height: 85px;
  position: relative;
  background-color: #fff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0,0,0,.25), 0 0 50px rgba(0,0,0,.1) inset;
}
#ui-datepicker-div .ui-datepicker-header {
  position: absolute;
  top: -20px;
  left: 10px;
}
#ui-datepicker-div .ui-datepicker-buttonpane {
  position: absolute;
  top: 50px;
  left: 10px;
  min-width: 120px;
}
.date-filters > form {
  display: flex;
  align-items: center;
  width: 100%;
}
.date-filters .section {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.date-filters label,
.date-filters input,
.date-filters button {
  display: inline-block;
  margin-right: 5px;
}
.date-filters .set-date {
  margin-left: auto;
  height: 40px;
  min-width: 120px;
}


.column_inner {
  color: #7c8d99;
}

.chart_wrap {
  max-width: 100%;
  width: 100%;
  height: 500px;
}
.footerdata, .stats_table {
  color: #7c8d99
}
.footerdata .value, .stats_table .value {
  font-weight: bold;
}


/***************/
/* Stats Table */
/***************/
.stats_table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.stats_table tr {
  height: 30px;
}
.stats_table td {
  border-bottom: 1px solid #b5bfc6;
}
.stats_table tr td:nth-child(2){
  text-align: right;
}

#clients_table {
  border-bottom: none;
}




/*****************************/
/***  Clients Data Wrapper ***/
/*****************************/
.datatable_inner { width: 100%; }
#clients_table_wrapper img {
  max-width: 100%; height: auto;
}
#clients_table_wrapper .dataTables_length {
  margin-bottom: 20px;
}
table .avatar {
  width: 64px;
}


/**********************/
/*  Table Pagination  */
/**********************/
#wpwrap .dataTables_wrapper .dataTables_paginate {
  padding-top: 1.25em;
}
#wpwrap .dataTables_wrapper .dataTables_info {
  padding-top: 2em;
}
#wpwrap .dataTables_paginate .paginate_button {
  padding: 0.5em 0px;
}
#wpwrap .dataTables_paginate span .paginate_button {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 0.255em;
}
#wpwrap .dataTables_paginate span .paginate_button:hover ,
#wpwrap .dataTables_paginate span .paginate_button.current,
#wpwrap .dataTables_paginate span .paginate_button.current:hover {
  border: none;
  color: #fff !important;
  background: #36a9e1;
  background-color: #36a9e1;
}
#wpwrap #clients_table_previous {
  margin-right: 0.5em;
}
#wpwrap #clients_table_next ,
#wpwrap #clients_table_previous {
  border: none;
  background: transparent;
  background-color: transparent;
}
#wpwrap #clients_table_next:hover ,
#wpwrap #clients_table_previous:hover {
  color:#36a9e1 !important;
  cursor: pointer;
}


/******************/
/*   TB Content   */
/******************/
#TB_ajaxContent {
  width: 100% !important;
  height: auto !important;
  position: relative;
}

div#TB_window {
  width: auto !important;
  left: 30px !important;
  right: 30px !important;
  top: 30px !important;
  bottom: 30px !important;
  margin: 0 !important;
  overflow: auto !important;
}
